* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    cursor: none;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    /* border: none;
    width: 8px;
    background: transparent;
    z-index: 1; */
    display: none;
}
/* ::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    border: none;
    box-shadow: none;
}
::-webkit-scrollbar-thumb {
    background-color: #131313;
    height: auto;
} */

body {
    font-family: 'PerpetuaTiltingMT';
    background-color: #f2f2f2;
    color: #000;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    cursor: none;
}

:hover {
    cursor: none;
}

a, p {
    text-decoration: none;
    color: inherit;
    font-family: 'Nimbus Sans Reg';
    font-weight: lighter;
}

.o-quarter {
    width: 25vw;
}

.two-quarter {
    width: 50vw;
}

.w-100 {
    width: 100%;
}

@font-face {
    font-family: "PerpetuaTiltingMT";
    src: url("../fonts/Perpetua\ Tilting\ MT/PERTILI.ttf");
}

@font-face {
    font-family: "Nimbus Sans Reg";
    src: url("../fonts/NimbusSans/NimbusSanL-Reg.otf");
}

@font-face {
    font-family: "Nimbus Sans Bold";
    src: url("../fonts/NimbusSans/NimbusSanL-Bol.otf");
}

@font-face {
    font-family: "Nimbus Sans Reg Ita";
    src: url("../fonts/NimbusSans/NimbusSanL-RegIta.otf");
}

/* LOADING */
.con-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10;
}

#load__making {
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* CURSOR */
.con-cursor {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    mix-blend-mode: exclusion;
    user-select: none;
    z-index: 21;
}
.cursor {
    width: 44px;
    height: 44px;
    position: relative;
    pointer-events: none;
    transition: 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
    user-select: none;
}

.cursor svg {
    transform: rotateZ(-90deg);
}

.cursor svg circle {
    stroke-dashoffset: 400%;
    stroke-dasharray: 400%;
}

.c-focus {
    transform: scale(1.2);
}

/* NAVBAR */
.navbar {
    position: fixed;
    height: 20vh;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 100;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: #f2f2f2;
    z-index: 20;
    opacity: 1;
}

.nav-r {
    right: 0;
    padding-right: 7vw;
    transition: 1.5s opacity linear;
}

.nav__ul {
    display: flex;
    line-height: 1;
    list-style-type: none;
    gap: 2vw;
    overflow: hidden;
}

.nav__item {
    transform: translateY(-10vh);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.nav__item__link {
    padding: 2em 1em;
    text-align: center;
    opacity: 1;
    font-size: .8rem;
    
}

/* LOTTIE */
.con-home-lottie {
    position: absolute;
    top: 40vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
    padding: 0 2vw;
}

/* HOME */
.con-home {
    width: 100%;
    height: 100vh;
    /* top: 5vh;  temporary */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: nowrap;
    padding: 60px 0;
}

.home__title {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 22;
}

.home__title__letter {
    width: auto;
    font-size: 8rem;
    margin: 20px 0;
    position: static;
    display: block;
    overflow: visible;
    width: auto;
    clear: none;
    align-self: auto;
    order: 0;
    flex: 0 1 auto;
    transform-origin: 50% 100%;
    line-height: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: none;
    mix-blend-mode: normal;
    transform: translateX(-100%) perspective(1000px);
    transition: transform 1.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: none;
}

.letter-anim-down-f, .letter-anim-down-m, .letter-anim-down-l {
    transform: translateY(150%) perspective(1000px);
}

.letter-anim-down-f {
    transition-delay: 1s;
}

.letter-anim-down-m {
    transition-delay: 1.2s;
}

.letter-anim-down-l {
    transition-delay: 1.4s;
}

.home__title__name {
    width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2vw;
    flex-wrap: nowrap;
}

.letter-mask {
    overflow: hidden;
    padding: 10px 0;
}

.con-home-img {
    width: 50vw;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -1vh;
    user-select: none;
    z-index: 2;
}

.con-work-link {
    width: 8vw;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -5vh);
    text-align: center;
    z-index: 19;
    opacity: 0;
    transition: .5s opacity ease;
    z-index: 19;
}

.con-aside-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
}

.aside-img {
    position: relative;
}

.aside-img-mask {
    width: 100%;
    overflow: hidden;
}

/* SECTION 1 */
.con-s1 {
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 40vh;
    z-index: 22;
    /* mix-blend-mode: difference; */
    margin: 10vh 5vw;
    overflow: hidden;
}

.s1-grid {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%; /* 50? */
    height: 100%;
}

.s1-grid-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    /* border-bottom: 1px solid black; */
    transform: perspective(1000px);
    overflow: hidden;
}

.s1-grid-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 19;
}

.s1-grid-item:hover {
    transform: perspective(1000px) rotateX(0deg) !important;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.s1-grid-item h1 {
    font-size: 8rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.b-line {
    background-color: #000;
    height: 0.5px;
    width: 0%;
    transition: width 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .5s;
    z-index: 22;
}

.s1-con-img {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 10vw;
    top: 0;
    transform-origin: top center;
    transform: perspective(1000px) rotateX(-90deg);
    opacity: 1;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
}

.distortion:hover {
    opacity: .8;
    filter: contrast(1.5);
    transform: perspective(1000px) scale(.9) rotateX(5deg);
}

.distortion {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top center;
}

/* SECTION 2 */
.con-s2 {
    top: 40vh;
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: rgb(225, 255, 253);
}